html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
}

body {
  background: radial-gradient(ellipse, #1b5881 0%, #1a4c6d 100%);
}
